<div style="font-size:130%" class="container-fluid">
<h1 class="text-center">Dashboard</h1>
<div class="row">
  <div class="col-sm-12 col-md-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
        Notifications 
        <% if (@notifications.length == 0) %>
            <span class="far fa-bell"></span>
        <% else %>
            <span class="fas fa-bell"></span>
        <% end %>
        <strong><%= @notifications.length %></strong>
      </a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Courses</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Tutoring</a>
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Study Groups</a>
    </div>
  </div>
  <div class="col-sm-12 col-md-10">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <div class="card card-body">
              <div class="list-group">
                <% if (@notifications.length == 0) %>
                    <p> You have no notifications </p>
                <% else %>
                  <% @notifications.each do |n| %>
                      <li class="list-group-item">
                          <p><%= n.action %></p>
                          <p>sent by user 
                              <strong><%= link_to User.find(n.actor_id).name, controller: "users", action: "show", id: n.actor_id %></strong>
                              at <em><%= n.created_at %></em>
                              </p>
                          <div><%= button_to "Dismiss", controller: "notifications", action: "mark_read", notification_id: n.id %></div>
                      </li>
                  <% end %>
                <% end %>
                </div>
            </div>
      </div>

      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h2>Your courses:</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Course Name</th>
                    <th>Course Code</th>
                    <th></th>
                </thead>
                <tbody>
                <!-- for each enrolled course, display details -->
                    <% @my_courses.each do |c| %>
                        <% x = Course.find(c.course_id) %>
                        <tr>
                            <td><%= link_to "#{x.course_name}", x %></td> <!-- Link to course page -->
                            <td><%= x.course_code %></td>
                            <td><%= button_to "Drop", controller: "courses", action: "delete_enrolment", :id => c.course_id, class:"btn"%></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
        <%= link_to 'Join a course', courses_path, class:"btn btn-primary" %>
      </div>

      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <h2>Your tutoring plans:</h2>
        <div class="table-responsive">
        <table class="table">
            <thead>
                <th>Course</th>
                <th>Tutor</th>
                <th>End the Session</th>
            </thead>
            <tbody>
            <!-- for each tutoring session events, display details -->
                <% @my_tutoring_sessions.each do |tutoring_session| %>
                        <% course = Course.find_by(course_code: tutoring_session.course_code) %>
                    <tr>
                        <td><%= link_to "#{course.course_name}", course %></td> <!-- Link to tutoring page-->
                        <td><%= link_to "#{tutoring_session.tutor_name}", controller: "tutors", action: "show", course_id: course.id, id: tutoring_session.tutor_id  %></td>

                        <!-- Button trigger modal -->
                        <td><button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal">
                        End
                        </button></td>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Rate the Tutor</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <%= form_tag({:controller => "tutors", :action => "complete", :id => tutoring_session.tutor_id, course_id: course.id }) do %>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <label class="input-group-text" for="inputGroupSelect01">Rating</label>
                                        </div>
                                        <select class="custom-select" id="inputGroupSelect01" name="rating" required>
                                            <option selected>1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="3">4</option>
                                            <option value="3">5</option>
                                        </select>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <%= submit_tag "Rate", class:"btn btn-primary" %>
                                <% end %>
                            </div>
                            </div>
                        </div>
                        </div>
                    </tr>
                <% end %>
            </tbody>
        </table>
        </div>
    </div>

    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <h2>Your upcoming Events:</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Event name</th> 
                    <th>Location</th>
                    <th>Event description</th>
                    <th></th>
                </thead>
                <tbody>
                <!-- for each attending events, display details -->
                    <% @my_study.each do |s| %>
                        <% y = StudyGroup.find(s.study_group_id) %>
                        <tr>
                            <td><%= link_to "#{y.event_name}",  controller: "study_groups", action: "show", course_id: y.course_id, id: y.id %></td> <!-- Link to event page-->
                            <td><%= y.location %></td>
                            <td><%= y.description %></td>
                            <td><%= button_to "Unattend", controller: "study_groups", action: "unattend_from_dash", course_id: y.course_id, study_group_id: s.study_group_id %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    </div>
  </div>
</div>
</div>
<script>
$( document ).ready(function() {
    $("#v-pills-profile-tab").click();
});
</script>