<h1>Dashboard</h1>
<p><b>Your courses:</b></p>
<table style="border:1px solid black;">
    <thead>
        <th>Course Name</th>
        <th>Course code</th>
        <th></th>
    </thead>
    <tbody>
    <!-- for each enrolled course, display details -->
        <% @my_courses.each do |c| %>
            <% x = Course.find(c.course_id) %>
            <tr>
                <td><%= link_to "#{x.course_name}", x %></td> <!-- Link to course page -->
                <td><%= x.course_code %></td>
                <td><%= button_to "Drop", course_path(:id => c.course_id), :method => :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to 'Join a course', courses_path %>

<p><b>Your tutoring plans:</b></p>
<table style="border:1px solid black;">
    <thead>
        <th>Course</th> 
        <th>With</th>
        <th></th>
    </thead>
    <tbody>
    <!-- for each tutoring session events, display details -->
        <% @my_tutoring_sessions.each do |tutoring_session| %>
                <% course = Course.find_by(course_code: tutoring_session.course_code) %>
                <% tutor = Tutor.find_by(user_name: tutoring_session.tutor_name) %>
            <tr>
                <td><%= link_to "#{tutoring_session.course_code}", course %></td> <!-- Link to tutoring page-->
                <td><%= link_to "#{tutoring_session.tutor_name}", controller: "tutors", action: "show", course_id: course.id, id: tutor.id  %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<p><b>Your upcoming Events:</b></p>
<table style="border:1px solid black;">
    <thead>
        <th>Event name</th> 
        <th>Location</th>
        <th>Event description</th>
    </thead>
    <tbody>
    <!-- for each attending events, display details -->
        <% @my_study.each do |s| %>
            <% y = StudyGroup.find(s.study_group_id) %>
            <tr>
                <td><%= y.event_name %></td> <!-- Link to event page-->
                <td><%= y.location %></td>
                <td><%= y.description %></td>
            </tr>
        <% end %>
    </tbody>
</table>
