<p>
  <strong>Title:</strong>
  <%= @note.title %>
</p>
 
<p>
  <strong>Tag</strong>
  <%= @note.tag %>
</p>

<p>
  <strong>Note:</strong>
  <% if @note.file.attached? %>
    <iframe src="<%=(url_for(@note.file))%>" width="800" height="680" style="border: none;"> </iframe>
    <!-- <img src="<%=(url_for(@note.file))%>"> -->
  <% end %>
</p>

<p>
  <strong>Uploaded:</strong>
  <%= @note.timeline %>
</p>

<p>
  <strong>Uploaded By</strong>
  <%= @note.user_name %>
</p>

<div>
  <%= link_to 'Notes', {:controller => "notes", :action => "index" } %>
<div>
