<div class="container-fluid">
<div class="row">
  <div class="col-sm 12 col-md-6">
    <div >
      <h1>Title - <%= @note.title %></h1>
      <h2> Tag - <%= @note.tag %></h2>
    </div>

    <p>
      <% if @note.file.attached? %>
        <iframe src="<%=(url_for(@note.file))%>" width="100%" height="680" style="border: none;"> </iframe>
        <!-- <img src="<%=(url_for(@note.file))%>"> -->
      <% end %>
    </p>

    <p>
      <strong>Uploaded:</strong>
      <%= @note.timeline %>
    </p>

    <p>
      <strong>Uploaded By</strong>
      <%= @note.user_name %>
    </p>

    <div>
      <%= link_to 'Notes', {:controller => "notes", :action => "index" }, class:"btn btn-primary" %>
    </div>
  </div>
  <div id="discussion" class="col-sm-12 col-md-6">
    <div id="comments">
      <h2>Comments </h2>
      
      <%if !current_user%>  
        <div><button class="btn btn-outline-secondary btn-lg" type="button" disabled>Log in to add a comment</button></div>

      <%else%>

        <div><%= link_to 'Add a comment', {:controller => "comments", :action => "new", :note_id => @note.id, :ancestry => 0, :ind=>0}, class:"btn btn-secondary" %><div>
      
      <%end%>

      <% @comments.each do |comment| %>
           

            <% if comment.ind%>
              <% comment.ind.times do%>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
              <%end%>
            <%end%>
            

            <%if current_user%>
              <b><%=  link_to User.find(comment.user.id).name, controller: "users", action: "show", id: comment.user.id %></b> • <i><%= comment.created_at%></i> <br/>
            <%else%>
              <b><%=  User.find(comment.user.id).name %></b> • <i><%= comment.created_at%></i> <br/>

            
            <%end%>

            
            
            <% if comment.ind%>
              <% comment.ind.times do%>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
              <%end%>
            <%end%>

            <% if comment.ind%>
              <% ind = comment.ind + 1 %>
            <% else %>
              <% ind = 0 %>
            <% end %>

            <%= comment.text %>
            <%if current_user%>
              <% if comment.user_id == current_user.id %>
                <%= link_to " Delete", {:action => "deleteComment", :comment_id => comment.id, :note_id => @note.id}, :method => :post %>
              <% end %>
              <%= link_to " Reply", {:controller => "comments", :action => "new", :note_id => @note.id, :ancestry => comment.id, :ind => ind} %>
              
            <%end%>
            <br/>


      <% end %> 
    </div>
  </div>
</div>
</div>
