<div style="font-size:130%" class="container text-center">
  <h1>Listing study groups</h1>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
        <th></th>
      </tr>

      <% @study_groups.each do |study_group| %>
      <tr>
        <td><%= study_group.event_name %></td>
        <td><%= study_group.date.localtime %></td>
        <td><%= study_group.location %></td>
        <td><%= study_group.description %></td>
        <td><%= link_to 'Show', controller: "study_groups", action: "show", id: study_group %></td>
        <% if study_group.user_id == current_user.id %>
          <td><%= link_to 'Edit', controller: "study_groups", action: "edit", id: study_group %></td>
          <td><%= button_to "Delete", {controller: "study_groups", action: "destroy", id: study_group}, :method => :delete, class:"btn btn-outline-danger" %></td>
        <% end %>
      </tr>
        <% end %>
    </table>
  </div>
  <div class="pt-3">
   <%= link_to "Create a new study group", { :action => "new" }, class:"btn btn-primary" %>
  </div>
  <div class="pt-3">
    <%= link_to "Back to #{@course.course_code}", course_path(@course), class:"btn btn-primary" %>
  </div>
</div>