<div style="font-size:130%" class="container text-center">
  <h1>New Study Group</h1>

  <%= form_with scope: :study_group, url: course_study_groups_path, local: true do |form| %>
    <p>
      <%= form.label :event_name%><br>
      <%= form.text_field :event_name %>
    </p>

    <p>
      <%= form.label :date %><br>
      <%= form.datetime_select :date %>
    </p>

    <p>
      <%= form.label :location %><br>
      <%= form.text_area :location %>
    </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>

    <div class="py-3">
      <%= form.submit "Create study group", class:"btn btn-primary" %>
    </div>
    <div class="">
      <%= link_to "Back", course_study_groups_path, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>