<p>
  <strong>Event Name:</strong>
  <%= @study_group.event_name %>
</p>

<p>
  <strong>Attendees:</strong>
  <% @attendees.each do |user| %>
    <li>
      <%= user.user_name %>
    </li>
  <% end %>
</p>

<p>
  <strong>Date:</strong>
  <%= @study_group.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @study_group.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @study_group.description %>
</p>

<% if (!Attendee.exists?(user_name: current_user.name)) %>
  <%= button_to "Attend", {:action => "attend", :study_group_id => @study_group.id}, :method => :post %>
<% end %>
<%= button_to "Return to all study groups", { :action => "index" }, :method => :get %>