<% [:error].each do |key| %> 
  <%   if flash[key] %> 
    <div class="<%= key %>" id="flash"> 
      <% for message_error in flash[key]%>
          <div class="alert alert-danger">
          <li> <%= message_error%> </li>
          </div>
      <%  end%>
    </div> 
  <% end %> 
<% end %>

<%= form_with scope: :tutor, url: course_tutors_path, local: true do |form| %>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :rate %><br>
    <%= form.number_field :rate %>
  </p>

  <p>
    <%= form.label :hours %><br>
    <%= form.number_field :hours %>
  </p>

  <p>
    <%= form.label :date %><br>
    <%= form.datetime_select :date %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>