<%= form_tag({:action => "hire", :tutor_id => @tutor.id}) do %>
<p>
  <strong>Tutor:</strong>
  <%= @tutor.user_name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @tutor.rate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tutor.description %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @tutor.hours %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tutor.date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @tutor.hours * @tutor.rate %>
</p>


<% if (@tutor.user_id == current_user.id) %>
<% elsif (TutoringSession.exists?(user_id: current_user.id, tutor_id: @tutor.id)) %>
  <p>You have already paid for the session!</p>
<% elsif (!TutoringSession.exists?(tutor_id: @tutor.id)) %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="Payment for Tutoring"
    data-amount="<%= @tutor.hours * @tutor.rate * 100 %>"
    data-locale="auto">
  </script>
<% end %>

<% end %>

<% if (@tutor.user_id == current_user.id) %>
  <%= button_to "Edit", { :action => "edit" }, :method => :get %>
<% end %>

<%= button_to "Return to all tutors", { :action => "index" }, :method => :get %>