<html>
<head>
<meta charset=utf-8">
<tille>User Profile</title>
</head>

<body>

<h1>Change Personal information</h1>


<%= form_with scope: :user, url: users_path, local: true do |form| %>
    <p>
        <lable for="cover_pic">Upload Cover Picture: </label>
        <input type="file" name="filename">
    </p>
    <p>
      <%= form.label :Name %>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.label :Description %>
      <%= form.text_field :description %>
    </p>

    <p>
        <lable for="password"> Current Password </label>
        <input type="password" name=""id="current_password">
    </p>

    <p>
        <lable for="password"> New Password </label>
       <input type="password" name="" id="new_password">
    </p>
    
    <p>
        <lable for="password"> Comfirm New Password</label>
       <input type="password" name="" id="confimed_password">
    </p>
   
    <p>
      <%= form.submit "Submit Changes"%> 
      <input type="reset" value="Reset">
      <button type="button">
            <%= link_to "Go back to main profile", user_path(params[:id]),data: { confirm: 'Are you sure you want to leave this page? You will lose any unsaved data.?' } %>
        </button>
    </p>
    
  <% end %>

</body>

</html>
