<!--
<style>
#header {
background-color:white;
color:black;
text-align:center;
padding:5px;
}

#personal_info {
background-color:#eeeeeeee;
color:black;
line-height:15px;
height:300px;
width:400px;
float:left;
padding:5px;
}

#class_section {
width:350px;
float:left;
padding:10px;
}
#footer {
background-color:black;
color:white;
clear:both;
text-align:center;
padding:5px;
}

</style>
-->

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 bg-light">
            <div class="card" style="width: 10; ">
                <% if @user.avatar.attached? %>
                    <img src="<%= url_for(@user.avatar) %>" height="400">
                <% else %>
                    <img src="https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg"  height="300" >
                <% end %>
            <div class="card-body">
              <h5 class="card-title" style="color: #00AA9E;"><%= @user.name %></h5>
              <p class="card-text">
              <ul class="list-group list-group-flush">

                <li class="list-group-item">
                    <div class="d-inline d-block">
                        <span class="font-weight-bold">Last Name: </span>
                        <span><%= @user.last_name %></span>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="d-inline d-block">
                        <span class="font-weight-bold">First Name: </span>
                        <span><%= @user.first_name %></span>
                    </div>
                </li>

                <% if (@user.id == current_user.id) %>
                    <li class="list-group-item">
                        <div class="d-inline d-block">
                            <span class="font-weight-bold">Phone: </span>
                            <span><%= @user.phone_num %></span>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="d-inline d-block">
                            <span class="font-weight-bold">Email Address: </span>
                            <span><%= @user.email %></span>
                        </div>
                    </li>
                <% end %>

                <li class="list-group-item">
                    <div class="d-inline d-block">
                        <span class="font-weight-bold">Description: </span>
                        <span><%= @user.description %></span>
                    </div>
                </li>

              <% if (@user.id == current_user.id) %>
                <li class="list-group-item">
                    <%= link_to 'Click here to edit profile', edit_user_path(params[:id]), class:"btn btn-primary" %>
                </li>

                <li class="list-group-item">
                    <%= link_to 'Change password', edit_user_registration_path(params[:id]), class:"btn btn-primary" %>
                </li>
                
                <% end %>
                </p>
              </ul>
              
            </div>
          </div>
            </div>
            <div class="col-md-8">
                <div id="header">
                    <h1>Profile</h1>
                </div>

                <div id="class_section">
                    <table class="table">
                        <thead>
                            <th>Enrolled Course Name</th>
                            <th>Enrolled Course code</th>
                            <th></th>
                        </thead>
                        <tbody>
                        <!-- for each enrolled course, display details -->
                            <% @my_courses.each do |c| %>
                                <% x = Course.find(c.course_id) %>
                                <tr>
                                    <td><%= link_to "#{x.course_name}", x %></td> <!-- Link to course page -->
                                    <td><%= x.course_code %></td>
                                    <% if (@user.id == current_user.id) %>
                                        <td><%= button_to "Drop", course_path(:id => c.course_id), :method => :delete %></td>
                                    <% end %>
                                </tr>
                            <% end %>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
