<style>
p {
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

* {box-sizing: border-box}

/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 50px 0;
}

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}
</style>


<div class ="container text-center">
  <div class="row">
  <div class="col-4"></div>
    <div class="col-md-4">
      <h1 class="text-center"><font size="5">Already a user? Log in</font></h1>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field text-center font-weight-bold">
          <%= f.label :email %><br />
          <%= f.text_field :email, autofocus: true %>
        </div>

        <div class="field text-center font-weight-bold">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>

        <div class="actions text-center">
          <%= f.submit "Log in", class:"btn btn-primary" %>
        </div>

      <% end %>
      <div class="text-center"><%= render "devise/shared/links" %></div>
      <div class="pt-3">
        <%= link_to 'See our available courses and notes!', courses_path, class:"btn btn-primary font-weight-bold" %>
      </div>
    </div>
  </div>
  <div style="font-size:125%" class="row py-4">
    <div class="col-sm-12 col-md-4">
      <div>
        <p class="font-weight-bold">Connect</p>
      </div>
      <i class="far fa-handshake"></i>
    </div>
    <div class="col-sm-12 col-md-4">
      <div>
        <p class="font-weight-bold">Share</p>
      </div>
      <i class="fas fa-share"></i>
    </div>
    <div class="col-sm-12 col-md-4">
      <div>
        <p class="font-weight-bold">Learn</p>
      </div>
      <i class="fas fa-graduation-cap"></i>
    </div>
  </div>
</div>