<h2 class="text-center">Log in</h2>

<h3 class="text-left">Connect with other students</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field text-center font-weight-bold">
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true %>
  </div>

  <div class="field text-center font-weight-bold">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field text-center font-weight-bold">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions text-center">
    <%= f.submit "Log in" %>
  </div>
<% end %>

    <div class="pt-3">
      <%= link_to 'See courses', courses_path, class:"btn btn-primary" %>
    </div>


<div class="text-center"><%= render "devise/shared/links" %></div>
