<h1> Edit Course Info </h1>
<%= form_with(model: @course, url: @course, local: true) do |form| %>
  <div class="text-center">
    <div class="field">
      <%= form.label :course_code %><br>
      <%= form.text_field :course_code %>
    </div>
  
    <div class="field">
      <%= form.label :course_name %><br>
      <%= form.text_field :course_name%>
    </div>
    <div class="action">
      <%= form.submit %>
    </div>
  </div>
<% end %>