<% [:error].each do |key| %> 
  <%   if flash[key] %> 
    <div class="<%= key %>" id="flash"> 
      <%= flash[key] %> 
    </div> 
  <% end %> 
<% end %>


<%= form_with scope: :course, url: courses_path, local: true do |form| %>
  <p>
    <%= form.label :course_code %><br>
    <%= form.text_field :course_code %>
  </p>
 
  <p>
    <%= form.label :course_name %><br>
    <%= form.text_field :course_name%>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
