<p>
  <strong>Course Code:</strong>
  <%= @course.course_code %>
</p>
 
<p>
  <strong>Course Name:</strong>
  <%= @course.course_name %>
</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <%= button_to 'Notes', {:controller => "notes", :action => "index", :course_id => @course.id }, :method => :get, class:"btn btn-outline-success btn-lg" %>
    </div>
    <div class="col-sm">
      <%= button_to 'Tutoring', {:action=>"index", :controller=>"tutors", :course_id => @course.id}, :method => :get, class:"btn btn-outline-primary btn-lg"%>
    </div>
    <div class="col-sm">
      <%= button_to 'Study Groups', {:action=>"index", :controller=>"study_groups", :course_id => @course.id}, :method => :get, class:"btn btn-outline-primary btn-lg"%>
    </div>
    <div class="col-sm">
      <%= button_to 'Course Listing', {:action=>"index", :controller=>"courses"}, :method => :get, class:"btn btn-outline-primary btn-lg"%>
    </div>
  </div>
</div>

<% if (@course.user_id == current_user.id && @course.notes.length == 0 && @course.tutors.length == 0 && @course.study_groups.length == 0) %>
    <span>
        <%= button_to "Edit", { :action => "edit" }, :method => :get , class:"btn btn-info"%>
    </span>
    <span>
        <%= button_to "delete", { :action => "destroy" }, :method => :delete, class:"btn btn-danger" %>
    </span>
<% end %>