
<div class="container">
  <div class="text-center">
      <h1 class="d-inline">Course Code:</h1>
      <span style="font-size: 200%" class="d-inline"><%= @course.course_code %></span>
  </div>
  <div class="text-center"> 
      <h2 class="d-inline">Course Name:</h2>
      <span style="font-size: 200%" class="d-inline"><%= @course.course_name %></span>
  </div>
  <div class="pt-3 row">
    <div class="col-sm">
      <%= button_to 'Notes', {:controller => "notes", :action => "index", :course_id => @course.id }, :method => :get, class:"btn btn-outline-primary btn-lg" %>
    </div>
    <div class="col-sm">
      <%= button_to 'Tutoring', {:action=>"index", :controller=>"tutors", :course_id => @course.id}, :method => :get, class:"btn btn-outline-primary btn-lg"%>
    </div>
    <div class="col-sm">
      <%= button_to 'Study Groups', {:action=>"index", :controller=>"study_groups", :course_id => @course.id}, :method => :get, class:"btn btn-outline-primary btn-lg"%>
    </div>
    <div class="col-sm">
      <%= button_to 'Course Listing', {:action=>"index", :controller=>"courses"}, :method => :get, class:"btn btn-outline-primary btn-lg"%>
    </div>
  </div>
  <div style="font-size:130%" class="pt-3 row">
    <div class="col-sm">
      <span>Click here to view/upload notes for this course</span>
    </div>
    <div class="col-sm">
      <span>Click here to book a tutoring session or to become a tutor for this course</span>
    </div>
    <div class="col-sm">
      <span>Click here view, join, and create study groups</span>
    </div>
    <div class="col-sm">
      <span>Click here return to the list of courses</span>
    </div>
  </div>
</div>

<div class="text-center">
  <% if (@course.user_id == current_user.id && @course.notes.length == 0 && @course.tutors.length == 0 && @course.study_groups.length == 0) %>
      <div class="pb-3">
          <%= button_to "Edit", { :action => "edit" }, :method => :get , class:"btn btn-info"%>
      </div>
      <div>
          <%= button_to "Delete", { :action => "destroy" }, :method => :delete, class:"btn btn-danger" %>
      </div>
  <% end %>
</div>