<p>
  <strong>Course Code:</strong>
  <%= @course.course_code %>
</p>
 
<p>
  <strong>Course Name:</strong>
  <%= @course.course_name %>
</p>

<div>
  <%= link_to 'Notes', courses_path %>
<div>
  <%= link_to 'Tutoring', :action=>"index", :controller=>"tutors", :course_id => @course.id %>
</div>
<div>
  <%= link_to 'Study Groups', :action=>"index", :controller=>"study_groups", :course_id => @course.id %>
</div>
